<!DOCTYPE html>
<html>
<title>Ashlyn's Home</title>
{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{% static 'home/imgs/logo.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'home/content/base.css' %}">
<script src="{% static 'home/scripts/modernizr-2.6.2.js' %}"></script>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button"><img src="{% static 'home/imgs/logonav.png' %}"> HOME</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
        <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-quarter"><i class="fa fa-user"></i> ABOUT</a>
        <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small w3-quarter"><i class="fa fa-th"></i> PORTFOLIO</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-quarter"><i class="fa fa-envelope"></i> CONTACT</a>
        </div>
      </div>
    </div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
        <p class="w3-center">
            <img src="{% static 'home/imgs/logo.png' %}" alt="my_logo"><br />
            <font size="6">Welcome to Ashlyn's Website</font>
        </p>
  </div>
</div>

<!-- About header background -->
<div class="bgimg-4 w3-display-container">
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-32" id="about">
  <h3 class="w3-center">About Myself</h3>
  <p class="w3-center"><em>I am a graphic web desginer with 7 years experience.</em></p>
  <p class="w3-center">
      I am a graphic web designer with experiences of 7 years, seeking for a full-time job and freelance projects.<br />
      Throughout my career, I have done uncountable number of projects in design companies as well as my own freelance works.<br />
      I am willing to contribute my skills and sense of design to your company, or to an individual project as well.<br />
      Please contact me anytime if you think that I am an apporpriate designer in your company or for your project.
  </p>
  <div class="w3-row">

    <p class="w3-center">
     <br><a href="{% url 'home:resume' %}"><button class="w3-button w3-white w3-text-black w3-border w3-border-black" type="button"><strong>&nbsp &nbsp &nbsp &nbsp Resume &nbsp &nbsp &nbsp &nbsp</strong></button></a>
    </p>
    <br /><br />
      <div class="w3-row w3-center w3-dark-grey">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">7+</span><br>
    Years of Experience
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">20+</span><br>
    Projects Done as a freelancer
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">15+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">15+</span><br>
    Meetings
  </div>
    </div>

    <div class="w3-row-padding w3-center" style="margin-top:32px">    
  <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Web Design</p>
      <p>By using Photoshop, detailed pages of a website such as an online shopping website, editing photos of clothing, banner design</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Graphic Design</p>
      <p>By using Illustrator, graphic pattern design, business card, posters, menus, characters, logos</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-scissors w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Fashion Design</p>
      <p>Majored in fashion design, professional understanding in graphic and web designs of clothing</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion and Reponsibility</p>
      <p>Passionate to design and reponsible for my works to meet end users' expectations</p>
    </div>
    </div>

    </div>
  </div>





<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-32" id="portfolio">
  <h3 class="w3-center">My work</h3>
  <p class="w3-center"><em>Here are some of my latest works as a freelance designer.<br> Click on the images to see details of my works.</em></p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-third">
        <p>
            <img src="{% static 'home/imgs/work1.jpg' %}" style="width:100%" onclick="document.getElementById('modal1').style.display='block'" class="w3-hover-opacity" alt="The mist over the mountains">
        </p>
        <p>
            <img src="{% static 'home/imgs/work2.jpg' %}" style="width:100%" onclick="document.getElementById('modal2').style.display='block'" class="w3-hover-opacity" alt="Coffee beans">
        </p>
            <img src="{% static 'home/imgs/work3.jpg' %}" style="width:100%" onclick="document.getElementById('modal3').style.display='block'" class="w3-hover-opacity" alt="Bear closeup">
        <p>
        <img src="{% static 'home/imgs/work4.jpg' %}" style="width:100%" onclick="document.getElementById('modal4').style.display='block'" class="w3-hover-opacity" alt="Bear closeup">
        </p>
    </div>

    <div class="w3-third">
        <p>
      <img src="{% static 'home/imgs/work11.jpg' %}" style="width:100%" onclick="document.getElementById('modal11').style.display='block'" class="w3-hover-opacity" alt="Quiet ocean">
        </p>
        <p>
      <img src="{% static 'home/imgs/work22.jpg' %}" style="width:100%" onclick="document.getElementById('modal22').style.display='block'" class="w3-hover-opacity" alt="The mist">
        </p>
        <p>
      <img src="{% static 'home/imgs/work33.jpg' %}" style="width:100%" onclick="document.getElementById('modal33').style.display='block'" class="w3-hover-opacity" alt="My beloved typewriter">
        </p>
        <p>
      <img src="{% static 'home/imgs/work44.jpg' %}" style="width:100%" onclick="document.getElementById('modal44').style.display='block'" class="w3-hover-opacity" alt="My beloved typewriter">
        </p>
    </div>

    <div class="w3-third">
        <p>
      <img src="{% static 'home/imgs/work111.jpg' %}" style="width:100%" onclick="document.getElementById('modal111').style.display='block'" class="w3-hover-opacity" alt="Quiet ocean">
</p>
        <p>
      <img src="{% static 'home/imgs/work222.jpg' %}" style="width:100%" onclick="document.getElementById('modal222').style.display='block'" class="w3-hover-opacity" alt="The mist">
        </p>
        <p>
      <img src="{% static 'home/imgs/work333.jpg' %}" style="width:100%" onclick="document.getElementById('modal333').style.display='block'" class="w3-hover-opacity" alt="My beloved typewriter">
        </p>
        <p>
      <img src="{% static 'home/imgs/work444.jpg' %}" style="width:100%" onclick="document.getElementById('modal444').style.display='block'" class="w3-hover-opacity" alt="My beloved typewriter">
        </p>
    </div>


</div>

<!-- Modal for full size images on click-->
<div id="modal1" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal1.jpg'%}">
  </div>
</div>

<div id="modal2" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal2.jpg'%}">
  </div>
</div>

<div id="modal3" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal3.jpg'%}">
  </div>
</div>

<div id="modal4" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal4.jpg'%}">
  </div>
</div>


<div id="modal11" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal11.jpg'%}">
  </div>
</div>

<div id="modal22" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal22.jpg'%}">
  </div>
</div>

<div id="modal33" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal33.jpg'%}">
  </div>
</div>

<div id="modal44" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal44.jpg'%}">
  </div>
</div>


<div id="modal111" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal111.jpg'%}">
  </div>
</div>

<div id="modal222" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal222.jpg'%}">
  </div>
</div>

<div id="modal333" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal333.jpg'%}">
  </div>
</div>

<div id="modal444" class="w3-modal" onclick="this.style.display='none'">
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style ="width: 100%" src="{% static 'home/imgs/modal444.jpg'%}">
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-32" id="contact">
  <h3 class="w3-center">My Contact</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Auckland, NZ<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +64 211212424<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: chacha68600@gmail.com<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="https://formspree.io/chacha68600@gmail.com" method="post">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="email" placeholder="Email" name="_replyto">
          </div>
        </div>
        <textarea class="w3-input w3-border" type="text" placeholder="Message" name="Message"></textarea>
        <button class="w3-button w3-black w3-right w3-section" type="submit" value="Send">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

    <!-- Container (Contact Section --SNS)-->

    <!-- Instagram-->
    <div class="w3-content w3-mobile" id="pixlee_container">
        <h3 class="w3-center">My Instagram Feed</h3>
        <p class="w3-center"><em>Follow me up!</em></p>
    <script type="text/javascript">
        window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'cfhRlbF5jEgQ7qYcSRvD' }); Pixlee.addSimpleWidget({ widgetId: '2653' }); };
    </script>
    <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
    </div>
    <br />

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="http://facebook.com/her_suitcase"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="http://instagram.com/her_suitcase"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="http://linkedin.com/in/her_suitcase"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://joachim910626.pythonanywhere.com" title="W3.CSS" target="_blank" class="w3-hover-text-green">Ashlyn</a></p>
</footer>
 
   <!-- Add Google Maps -->
    <script>
        function myMap()
        {
            myCenter = new google.maps.LatLng(-36.848461, 174.763336);
            var mapOptions = {
                center: myCenter,
                zoom: 12, scrollwheel: false, draggable: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            var marker = new google.maps.Marker({
                position: myCenter,
            });
            marker.setMap(map);
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Change style of navbar on scroll
        window.onscroll = function () { myFunction() };
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqnTqAPfXbTCXTQgzqakxhKz5yle6MiNo&callback=myMap"></script>
    <!--
    To use this code on your website, get a free API key from Google.
        Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
        -->

    <script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>